// package aviation

// import (
// 	"github.com/valentinesamuel/mockcraft/internal/generators/interfaces"
// 	"github.com/valentinesamuel/mockcraft/internal/registry"
// )

// func init() {
// 	registry.Register("database", func() interfaces.Generator {
// 		return NewAviationGenerator()
// 	})
// }

// type DatabaseGenerator struct {
// 	// your implementation
// }

// func NewAviationGenerator() *DatabaseGenerator {
// 	return &DatabaseGenerator{}
// }

// func (d *DatabaseGenerator) GenerateByType(dataType string, options interface{}) (interface{}, error) {
// 	// your implementation
// }

// func (d *DatabaseGenerator) GetAvailableTypes() []string {
// 	// your implementation
// }
